@font-face {
	font-family: 'Symbols';
    font-style: normal italic;
    font-weight: normal bold;

	src: local("Noto Color Emoji"),
	     url("/assets/font/NotoColorEmoji.woff2") format('woff2');
    /*
        🧩 U+1F9E9
    */
    unicode-range: U+1F9E9;
}

:root {
    font-family: Symbols, Arial;
}
